
/*-------------------------------
        GLOBAL STYLES
---------------------------------*/

@font-face {
    font-family: museo;
    src: url(../fonts/museo/museoslab-500.otf);
}


body {
    background-color: white;
/*  or   #e0f2f1  ?  */
    background-size: cover;
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 20px;
}

.active {
    text-decoration: underline;
}

/*-------------------------------
        HEADER NAVBAR
---------------------------------*/

#nav-head nav {
    height: 120px;
}

#nav-head nav li {
    margin-top: 40px;
    /*
    margin-left: 8px;
    margin-right: 8px;
*/
    margin-bottom: 8px;
}

nav li:first-child {
    margin-right: 30px;
}

#nav-head li:hover {}

nav a:hover {
    /*  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.1);*/
    /*    background-color: ghostwhite;*/
    /* text-shadow: 1px 1px rgba(0,0,0,0.2)*/
    color: #00796b !important;
}


/*



/*MOBILE VERSION*/

@media only screen and (max-width: 650px) {
    
    #nav-head .brand-logo {
        font-family: 'Sorts Mill Goudy';
        font-style: italic;
        font-size: 35px !important;
        color: black !important;
        letter-spacing: 1px;
        margin-top: 31px;
        
    }
    
    
}


/*MOBILE VERSION ENDS*/


/*SCREEN VERSION*/

@media only screen and (min-width: 650px) {
    
    #nav-head .brand-logo {
        font-family: 'Sorts Mill Goudy';
        font-style: italic;
        font-size: 55px !important;
        color: black !important;
        letter-spacing: 1px;
        /*    margin-left: 60px;*/
        margin-top: 31px;
    }
}


/*SCREEN VERSION ENDS*/


/*-------------------------------
        PULL-Down NAVBAR
---------------------------------*/


/*SOURCE FOR DISAPPEARING EFFECT WHEN SCROLLING
http://stackoverflow.com/questions/23315031/how-to-create-a-hidden-navbar-with-bootstrap-that-shows-after-you-scroll
*/


/*
alternative, more minimalist solution
https://medium.com/@mariusc23/hide-header-on-scroll-down-show-on-scroll-up-67bbaae9a78c#.y5c35hdnc
*/

#nav_blog nav {
    height: 60px;
    color: black;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
     
}


.brand-logo {
    font-family: 'Sorts Mill Goudy';
    font-style: italic;
    font-size: 35px !important;
    color: black !important;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-top: 3px;
}

#nav_blog nav li {
    /*    margin: 10px;*/
    font-family: 'Sorts Mill Goudy';
    margin-top: -3px;
    text-transform: uppercase;
    color: black !important;
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
}

nav a {
    text-transform: none !important;
    color: black !important;
    text-transform: uppercase !important;
    font-style: italic;
    font-size: 20px !important;
}


/*MOBILE VERSION*/

@media only screen and (max-width: 650px) {}


/*MOBILE VERSION ENDS*/


/*SCREEN VERSION*/

@media only screen and (min-width: 650px) {
    #profile {}
}


/*SCREEN VERSION ENDS*/




/*-------------------------------
        SLIDE-OUT
---------------------------------*/

.mini_icon {
    width:20px;
}


/*-------------------------------
        MAIN CONTENT
---------------------------------*/

h3 {
    font-style: italic;
}

main img {
    max-height: 100%;
    max-width: 100%;
}

main {
    margin-top: -25px;
}


/*MOBILE VERSION*/

@media only screen and (max-width: 650px) {}


/*MOBILE VERSION ENDS*/


/*SCREEN VERSION*/

@media only screen and (min-width: 650px) {
    #profile {}
}


/*SCREEN VERSION ENDS*/


/*-------------------------------
        PROFILE CARD
---------------------------------*/

#profile img {
    padding: 20px;
    max-height: 100%;
    max-width: 100%;
}




/*-------------------------------
        PROFILE CARD
---------------------------------*/

textarea {
    height: 400px;
}


/*-------------------------------
        CLASSES
---------------------------------*/

#blog_link span {
    font-size: 20px;
    line-height: 10px;
}

#blog_link a {
    font-family: museo;
    font-size: 25px !important;
    color: darkgrey;
    position: fixed;
    left: 20px;
    z-index: 3;
    text-transform: none;
    top: 10px;
    line-height: 25px;
}

#blog_link a:hover {
    color: deepskyblue;
}

.parallax-container {
    height: 800px;
}

#landing h5 {
    font-size: 55px !important;
    margin-top: 120px;
    color: #00b09f;
    letter-spacing: 2px;
    font-family: museo;
    text-shadow: 1px 1px rgba(256, 256, 256, 0.6);
}

.parallax-container h2 {
    text-shadow: 1px 1px rgba(256, 256, 256, 0.5);
    text-transform: uppercase;
    font-family: 'Sorts Mill Goudy';
    font-style: italic;
    font-size: 45px !important;
    color: black !important;
    letter-spacing: 2px;
}

.white_text {
    text-shadow: 1px 1px rgba(256, 256, 256, 0.5);
}

.museo {
    font-family: museo;
}

.couche {
    background-color: rgba(256, 256, 256, 0.85)
}

.social_media {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.logo {
    font-family: 'Sorts Mill Goudy';
    font-style: italic;
    font-size: 45px !important;
    color: black !important;
    letter-spacing: 2px;
}

.page-footer {
    margin-top: 0px !important;
}


/*MOBILE VERSION*/

@media only screen and (max-width: 650px) {}


/*MOBILE VERSION ENDS*/


/*SCREEN VERSION*/

@media only screen and (min-width: 650px) {
    #profile {}
}


/*SCREEN VERSION ENDS*/


/*FORM*/


/*
see this
https://github.com/emilsgulbis/jQuery-material-form-fields*/
